<style>
    #navlist li
    {
        display: inline;
        list-style-type: none;
        padding-right: 20px;
    }
</style>

<ul id="navlist">
    <li></br> This information came from the model:</br>{{ show }}</li>
    <li></br><a href="/">Return</a></li>
</ul>
